*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li, ul, ol{
    list-style: none;
}
:root{
    --text-font: 'Mountains of Christmas', cursive;
    --text-color: #e7dede;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(./img/background-nm.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    gap: 400px;
}
h1{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 120px;
}
a{
    text-decoration: none;
    color: inherit;
    font-family: var(--text-font);
    font-size: 32px;
}
button{
    border: none;
    width: 320px;
    height: 80px;
    border-radius: 50px;
    background-color: #000000;
    color: var(--text-color);
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 160px;
}